<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>User Login Page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="center">
            <h1>Register</h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" required>
                    <span></span>
                    <label>first name</label>
                </div>
                <div class="txt_field">
                    <input type="text" required>
                    <span></span>
                    <label>last name</label>
                </div>
                <div class="txt_field">
                    <input type="text" required>
                    <span></span>
                    <label>email</label>
                </div>
                <div class="txt_field">
                    <input type="password" required>
                    <span></span>
                    <label>password</label>
                </div>
                <input type="submit" value="Register">
                <div class="signup_link">
                    Already a Member?<a routerLink="/login">Login</a>
                </div>
            </form>
        </div>
    </body>
</html>