<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Us</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  
</head>

<body>
    <section class="about">
        <div class="main">
            <img src="/assets/images/AboutUs.png">
            <div class="about-text">
                <h1>About Us</h1>
                <h5>what do we do?</h5>
                <p>we are a tutoring agency here to link all students to their perfect tutor that fits their 
                    learning style in order to help each an every student reach their educational goals</p>
                <button type="button"><a routerLink="/register" >Get Started</a></button>
            </div>
        </div>
    </section>
    <section class="CU">
        <div class="contact">
            <h3>contact us</h3>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>email : TTLABSGAMING@turntabl.io</li>
                <li><i class="fa-solid fa-phone"></i>phone : +233 302 879562</li>
                <li><i class="fa-solid fa-location-dot"></i>location : Advantage Place</li>
            </ul>
        </div>
    </section>
</body>

</html>