<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tutors</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  
</head>

<body>
    <div>
        <h1>Meet Our Tutors</h1>
    </div>

            <div class="pokemon-card" *ngFor="let tutor of tutors">
    <div class="box">

        <img src="assets/images/black_panther.jpg">
        <h3>Name: {{tutor.first_name}} {{tutor.last_name}}</h3>
        <p>
            Skill: {{tutor.skill}}
        </p>
        <p>
            Free Day: {{tutor.day_available}}
        </p>

    </div>
</div> 
</body>

</html>