<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tutors</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  
</head>

<body>
    <div>
        <h1>Meet Our Tutors</h1>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/tutors/andoch.jfif" alt="">
                </a>
                <h3>
                    <a href="#">Andoch</a>
                </h3>
                <p>Proficient in 7 programming languages and is a certified boss in data sructures </p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/tutors/steven.jfif" alt="">
                </a>
                <h3>
                    <a href="#">Steven </a>
                </h3>
                <p>very good at back end programming and attended UoMA (University of Martian Arts) and attained his B.Sc in Computer Science at the age of 13</p>
            </div>
        </div>
    
    
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/tutors/kasim.jfif" alt="">
                </a>
                <h3>
                    <a href="#">Kasim</a>
                </h3>
                <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so
                    sixth gathering fifth that man fowl made.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://lorempixel.com/700/400/nature/4" alt="">
                </a>
                <h3>
                    <a href="#">Project Title</a>
                </h3>
                <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so
                    sixth gathering fifth that man fowl made.</p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://lorempixel.com/700/400/nature/5" alt="">
                </a>
                <h3>
                    <a href="#">Project Title</a>
                </h3>
                <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so
                    sixth gathering fifth that man fowl made.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://lorempixel.com/700/400/nature/6" alt="">
                </a>
                <h3>
                    <a href="#">Project Title</a>
                </h3>
                <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so
                    sixth gathering fifth that man fowl made.</p>
            </div>
        </div>
    </div>
    
    <script src="js/jquery-1.11.3.min.js"></script>
    
    <script src="js/bootstrap.min.js"></script>
    <script defer=""
        src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
        integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
        data-cf-beacon="{&quot;rayId&quot;:&quot;72717c572f6b5d47&quot;,&quot;version&quot;:&quot;2022.6.0&quot;,&quot;r&quot;:1,&quot;token&quot;:&quot;f95a87206c5140fb90f2612ffd79569d&quot;,&quot;si&quot;:100}"
        crossorigin="anonymous"></script> -->


            <div class="pokemon-card">
    <div class="box">

        <img [src]="">
        <h3>name...</h3>
        <p>
            Skill: ...
        </p>
        <p>
            Free Day: ...
        </p>

        <p class="price">
            Price: ...
        </p>
    </div>
</div> 
</body>

</html>